<div class="kata_container">

  <div class="header">
    <h2><%= @kata.title %></h2>
    <span class="edit_link"><%= link_to "edit", edit_kata_path( @kata.id ) %></span>
  </div>

  <div class="video_container">
    <%= render :partial => @partial %>
  </div>

  <div class="description">
    <p class="timestamp">Last updated on <%= timestamp(@kata.last_updated) %></p>
    <p class="description">
    <% @kata.description.split( /\r\n|\n/ ).each do |section| %>
      <%= section %><br/>
    <% end %>
    </p>
  </div>

</div>

<div class="kata_supplements">
  <h3><%= feedback_header(@feedback.size) %></h3>
  <% if (@feedback.size > 0) %>
    <div class="feedback_stream">
      <% @feedback.each do |feedback| %>
        <div class="feedback_container">
          <p class="message"><%= feedback.message %></p>
          <small class="timestamp">Submitted by <%= feedback.author %>
            on <%= timestamp(feedback.created_on) %></small>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="feedback_form">
    <%= form_tag '/feedback', :class => 'form' do %>
      <%= hidden_field_tag :kata_id, @kata.id %>
      <div class="left">
        <%= text_area_tag :message, "", form_error_highlights( :message, @errors, :placeholder => "Leave some feedback" ) %>
        <%= f_error_message( @errors[:message] ) %>
      </div>
      <div class="right">
        <%= text_field_tag :author, "", form_error_highlights( :author, @errors, :placeholder => "What's your name?" ) %>
        <%= f_error_message( @errors[:author] ) %>
        <%= submit_tag "Submit", :class => 'btn sharp' %>
      </div>
    <% end %>
  </div>
</div>
