<div class="kata_container">

  <div class="header">
    <h2><%= @kata.title %></h2>
    <% if @editable %>
      <span class="edit_link"><%= link_to "edit", edit_kata_path( @kata.id ) %></span>
    <% end %>
  </div>

  <div class="video_container">
    <%= render :partial => @partial %>
  </div>

  <div class="description">
    <p class="description">
    <% @kata.description.split( /\r\n|\n/ ).each do |section| %>
      <%= section %><br/>
    <% end %>
    <p class="user">Created by <%= @kata.user_name %></p>
    <p class="timestamp">Last updated on <%= timestamp( @kata.updated_at ) %></p>
    </p>
  </div>

</div>

<div class="kata_supplements">
  <h3><%= feedback_header( @feedback.size ) %></h3>
  <% if ( @feedback.size > 0 ) %>
    <div class="feedback_stream">
      <% @feedback.each do |feedback| %>
        <div class="feedback_container">
          <p class="message"><%= feedback.message %></p>
          <p class="timestamp">Submitted by <%= feedback.user_name %>
            on <%= timestamp( feedback.created_at ) %></p>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="feedback_form">
    <%= form_tag '/feedback', :class => 'form' do %>
      <%= hidden_field_tag :kata_id, @kata.id %>
      <%= text_area_tag :message, "", form_error_highlights( :message, @errors, :placeholder => "Leave some feedback" ) %>
      <%= f_error_message( @errors[:message] ) %>
      <%= submit_tag "Submit", :class => 'btn' %>
    <% end %>
  </div>

</div>
