<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="header">
      <div class="inner">
        <h1 id="logo"><%= link_to "DOJO", root_url %></h1>
        <div id="quicklinks">
          <%= link_to "Create a Kata", new_kata_url, {:class => "btn sharp"} %>
        </div>
      </div>
    </div>

    <div id="main">

      <%= yield %>

    </div>
  </body>
</html>
