<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="header">
      <div class="container">
        <div class="row">
          <div class="span8 offset2">
            <h1 id="logo"><%= link_to "DOJO", root_url %></h1>
            <div id="quicklinks">
              <%= link_to "Create a Kata", new_kata_url, {:class => "btn"} %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="content" class="container">
      <div class="row">
        <div class="span8 offset2">

          <%= yield %>

        </div>
      </div>
    </div>
  </body>
</html>
