<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="header">
      <div class="inner">
        <h1 id="logo"><%= link_to "DOJO", root_url %></h1>
        <div id="quicklinks">
          <% if current_user %>
            <span>Greetings, <%= current_user.name %>!</span>
            <%= link_to "Create a Kata", new_kata_url, {:class => "btn"} %>
            <%= link_to "Sign out", signout_path, {:class => "btn"} %>
          <% else %>
            <span>Greetings, guest!</span>
            <%= link_to "Sign in", "/auth/google_oauth2/", {:class => "btn"} %>
          <% end %>
        </div>
      </div>
    </div>

    <div id="main">

      <%= yield %>

    </div>
  </body>
</html>
